/* Colors */
:root {
    --dark-blue         : hsl(214, 17%, 51%);
    --dark-grayish-blue : hsl(217, 19%, 35%);
    --grayish-blue      : hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    font-size: 13px;
}

*,
::before,
::after {
    box-sizing : border-box;
    font-family: "Manrope", serif;
    margin     : 0;
    padding    : 0;
}

body {
    align-items     : center;
    background-color: var(--light-grayish-blue);
    display         : flex;
    flex-direction  : column;
    gap             : 2em;
    height          : 100vh;
    justify-content : center;
    width           : 100vw;
}

.card {
    background-color: white;
    height          : 25em;
    width           : 75em;
    display         : flex;
    align-items     : center;
    border-radius   : 1em;
    box-shadow      : rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card-image {
    aspect-ratio : 1/1;
    border-radius: 1em 0 0 1em;
    overflow     : hidden;
    width        : 25em;
}

.card-image img {
    aspect-ratio: 1/1;
    object-fit  : cover;
    width       : 100%;
}

.card-body {
    padding        : 4em;
    width          : calc(100% - 25em);
    height         : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    gap            : 1em;
}

p {
    color      : var(--dark-blue);
    font-size  : 1.1em;
    line-height: 1.5em
}

.card-title {
    font-size  : 1.75em;
    color      : var(--dark-grayish-blue);
    font-weight: 700;
}

.card-footer {
    align-items    : center;
    display        : flex;
    width          : 100%;
    justify-content: space-between;
}

.author {
    align-items: center;
    display    : flex;
    gap        : 1.5em;
    height     : 3.75em;
}

.author-photo {
    aspect-ratio : 1/1;
    border-radius: 50%;
    overflow     : hidden;
    width        : 3.75em;
}

.author-photo img {
    height    : 100%;
    object-fit: cover;
    width     : 100%;
}

.author-info {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

.author-name {
    color      : var(--dark-grayish-blue);
    font-weight: 700;
}

.date {
    color: var(--grayish-blue);
}

.share {
    position: relative;
}

.share-button {
    align-items     : center;
    background-color: var(--light-grayish-blue);
    border-radius   : 50%;
    display         : flex;
    height          : 3em;
    justify-content : center;
    transition      : all ease-in-out .25s;
    width           : 3em;
}

.share-button img {
    height    : 45%;
    object-fit: contain;
    width     : 45%;
}

.share-tooltip {
    align-items     : center;
    background-color: var(--dark-grayish-blue);
    border-radius   : .5em;
    box-shadow      : rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display         : flex;
    gap             : 1em;
    left            : 45%;
    opacity         : 0;
    padding         : 1em 2em;
    position        : absolute;
    top             : -3.75em;
    transform       : translate(-50%, -50%);
    transition      : all ease-in-out .3s;
    width           : max-content;
    z-index         : 9;
}

.share-tooltip::before {
    background-color: red;
    background-color: var(--dark-grayish-blue);
    bottom          : -1.1em;
    content         : "";
    height          : 1.35em;
    left            : 50%;
    position        : absolute;
    transform       : rotate(45deg) translateX(-50%);
    width           : 1.35em;
}

.share-tooltip p {
    color         : var(--grayish-blue);
    font-size     : .9em;
    letter-spacing: .5em;
}

.share-tooltip .icon:hover {
    cursor    : pointer;
    filter    : hue-rotate(210deg) brightness(85%) saturate(17%);
    transition: all ease-in-out .25s;
}

.share-button:hover {
    background-color: hsl(210, 46%, 85%);
    cursor          : pointer;
}


.attribution {
    font-size : 11px;
    text-align: center;
    color     : var(--dark-grayish-blue);
}

.attribution a {
    color: var(--grayish-blue);
}

#invisible-overlay {
    background-color: crimson;
    display         : none;
    height          : 100%;
    left            : 0;
    opacity         : 0%;
    position        : absolute;
    top             : 0;
    width           : 100%;
}